.DS_Store
node_modules
# removed due to not enough ram on server, and I don't wanna pay for more ram
#/dist

public/media


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
