$gradient-background: linear-gradient(to right, #23315F, #101834);
$gradient-background-light: linear-gradient(to right, #384880, #212e5e);

$color-dark-overlay: rgba(0, 0, 0, 0.3);
$color-darkest-overlay: rgba(0, 0, 0, 0.8);

$color-darkest: #03050d;
$color-input: rgba(255, 255, 255, 0.112);
$color-input-dark: rgba(0, 0, 0, 0.212);
$color-text: #fff;

$color-accent: #D84D4D;
$notification-error: rgba(191, 70, 70, 0.851);

$color-darkest-nav: rgba(3, 5, 13, 0.3);
